<div th:fragment="findPasswordResetModal">
	<div class="modal fade" id="findPasswordResetModal" tabindex="-1"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content p-4" style="border-radius: 16px; width: 500px; height: 380px;">
			
			
			
				<div class="modal-header border-0 d-flex justify-content-center position-relative">
					<h5 class="modal-title fw-bold mx-auto">새 비밀번호 설정</h5>
					<button type="button" class="btn-close position-absolute end-0" style="margin-right: 2rem;" data-bs-dismiss="modal"></button>
				</div>

				<div class="modal-body">
				<p class="text-muted small text-center">
							인증이 성공적으로 완료되었습니다.<br>새로운 비밀번호를 설정해 주세요.</p>
							
					<form id="resetPwdForm" method="post" style="margin-top: 2rem;"
						th:action="@{/forgot/password/reset}">
						<input type="hidden" name="email" id="reset-email">
						<div class="mb-3">
							<input type="password" name="password" class="form-control w-75 mb-3 mx-auto"
								placeholder="새 비밀번호" required>
						</div>
						<div class="mb-3">
							<input type="password" name="confirm" class="form-control w-75 mb-3 mx-auto"
								placeholder="새 비밀번호 확인" required>
						</div>
						<div class="text-danger small" id="reset-error"
							style="display: none;"></div>
						<div class="col-6 d-grid mx-auto" style="margin-top: 2rem;">
							<button type="submit" class="btn btn-soft-green">변경</button>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>
